<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Nouvelle recette</h1>
	<form action="/createRecipe" method="POST">
		<div>
			<label for="">title</label>
			<input type="text" name="title">
		</div>
		<div>
			<label for="">level</label>
			<input type="text" name="level">
		</div>
		<div>
			<label for="">ingredients</label>
			<input type="text" name="ingredients">
		</div>
		<div>
			<label for="">cuisine</label>
			<input type="text" name="cuisine">
		</div>
		<div>
			<label for="">dishType</label>
			<input type="text" name="dishType">
		</div>
		<div>
			<label for="">image</label>
			<input type="text" name="image">
		</div>
		<div>
			<label for="">duration</label>
			<input type="text" name="duration">
		</div>
		<div>
			<label for="">creator</label>
			<input type="text" name="creator">
		</div>
		<input type="submit" name="Valider">
	</form>
</body>
</html>